*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --card-title-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: #1d1c19;
    --bg: url(./assets/bg-yellow.svg);
}

body.blue{
    --card-title-border-color: #338af3;
    --card-color-primary: #338af3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}


body.green{
    --card-title-border-color: #047c3f;
    --card-color-primary: #047c3f;
    --card-bg-color: #1a1f1b;
    --bg: url(./assets/bg-green.svg);
}

li{
    list-style: none;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121214;
    background-image: var(--bg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;    
}

body *{
    font-family: 'Roboto', sans-serif;
}

#app{    
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

/* alterado em 30/11/2022 */
.tooltip {
    position: relative;
    display: inline-block;
  }  
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.26);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    border: 1px solid;
    border-color: var(--card-color-primary);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 110%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Eu fiz */
#app2{    
    width: fit-content;
    margin: auto;
    padding-top: 100px;
}

.card2{
    display: block;
    align-items: center;    
    padding: 20px 20px;
    text-align: center;
    background-color: var(--card-bg-color);
    border-radius: 6px;
    box-shadow: 0px 2px 0px 0px var(--card-color-primary);
    border-bottom: 2px solid var(--card-color-primary);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto; 
}

.card2 h2{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid   var(--card-title-border-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
    color: #f7dd43;
    font-size: 15px;
}

.card2 > h2 > span{
    color: #e1e1e6;
    font-size: 15px;
    text-transform: uppercase;
}

.card2 > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.card2 > ul > li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Esse seletor vai buscar um elemento 'li' que tenha antes dele outro elemento 'li' */
.card2>ul>li + li{
    padding-top: 15px;
    border-top: 1px solid #323238;
}

.card2>ul>li>strong{
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    color: #e1e1e6;
}

.card2 > h2:hover,
.card2 > ul > li > strong:hover,
.card2 > ul > li > img:hover{
    transform: scale(1.5);
}

.card2 > h2,
.card2 > ul > li > strong,
.card2 > ul > li > img{
    transition: transform 0.5s;
}

.card2{
    opacity: 0;
    animation: aparecer .2s forwards;
}

/* ----------------------*/

header{
    margin-bottom: 20px;
    text-align: center;
}

header > h2{    
    color: #e1e1e6;
    padding: 10px;
    font-weight: 1000;
    font-size: 25px;
    line-height: 100%;
    color: var(--card-color-primary);
    border: 1px solid var(--card-color-primary);
    border-radius: 10px;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* margin-left: 175px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-right: 0 auto;  */
    
}

.card{
    display: block;
    align-items: center;    
    padding: 20px 20px;
    text-align: center;
    background-color: var(--card-bg-color);
    border-radius: 6px;
    box-shadow: 0px 2px 0px 0px var(--card-color-primary);
    border-bottom: 2px solid var(--card-color-primary);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto; 
}

.card h2{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
    color: #f7dd43;
}

.card > h2 > span{
    color: #e1e1e6;
    font-size: 15px;
    text-transform: uppercase;
}

.card > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.card > ul > li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Esse seletor vai buscar um elemento 'li' que tenha antes dele outro elemento 'li' */
.card>ul>li + li{
    padding-top: 15px;
    border-top: 1px solid #323238;
}

.card>ul>li>strong{
    font-weight: 900;
    font-size: 25px;
    line-height: 100%;
    color: #e1e1e6;
}

.card>ul>li> .res{
    color: var(--card-color-primary);
}

.card > h2:hover,
.card > ul > li > strong:hover,
.card > ul > li > img:hover{
    transform: scale(1.5);
}

.card > h2,
.card > ul > li > strong,
.card > ul > li > img{
    transition: transform 0.5s;
}

.card{
    opacity: 0;
    animation: aparecer .2s forwards;
}

.grupos > tbody > tr > td:hover,
.img:hover{
    transform: scale(1.2);
}

.grupos > tbody > tr > td:hover,
.img{
    transition: transform 0.8s;
}

.img{
    width: 25px;
    height:25px;
    object-fit: fill;
    gap: 10px;
    display: inline-table;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.grupos{
    padding-top: 10px;
    padding-bottom: 20px;
    border-collapse: separate;
    border-radius: 10px;
    color: white;
}

.grupos>thead>tr>th{
    border: 1px solid var(--card-color-primary);
    background-color: var(--card-title-border-color);
    padding: 3px;
    border-radius: 15px;
}

.grupos>tbody>tr>th{
    border: 1px solid var(--card-color-primary);
    background-color: #047c3f;
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
}

.grupos>tbody>tr>td{
    border: 1px solid var(--card-title-border-color); 
    background-color: rgba(255, 255, 255, 0.055);
    text-align: left;
    align-items: center;
    height: 25px;
    padding: 5px;
    display: flexbox;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    border-radius: 15px;  
    box-shadow: 0px 1px 0px 0px var(--card-color-primary);
    vertical-align: middle;

    
}

@keyframes aparecer{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media (min-width: 700px){
    #cards {
        max-width: 750px;
        flex-direction: row;
        flex-wrap: wrap;
} 

div.conteiner{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    gap: 5px;
    text-align: center;    
}

div.conteiner > a {
    padding: 5px 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--card-color-primary);
    border: 1px solid var(--card-title-border-color);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;
    text-decoration: none;
    color: #121214;
    text-align: center;
}

div.conteiner > a:hover{
    background-color: var(--card-bg-color);
    color: white;
}
}

@media (max-width: 699px){
    #cards {
        max-width: 750px;
        flex-direction: row;
        flex-wrap: wrap;
} 

div.conteiner{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: row;
    gap: 5px;
    text-align: center;
}

div.conteiner > a {
    padding: 5px 5px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--card-color-primary);
    border: 1px solid var(--card-title-border-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;
    text-decoration: none;
    color: #121214;
    text-align: center;
}

div.conteiner > a:hover{
    background-color: var(--card-bg-color);
    color: white;
}
}

